ADMIN_EMAIL= "abc@gmail.com"
ADMIN_PASS = "email_password"
AppName = "Book Store"
CLIENT_APP_URL = "http://localhost:3000"
JWT_SECRET = "khanbabaalijoker"
MONGOURI = "mongodb+srv://warda:12345@requirelogin.bhn90gr.mongodb.net/?retryWrites=true&w=majority"
PORT = 3200



